html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}


.tastoTogli {
      position: fixed; 
      width: 20vw;
      height: 50vh;
}

.tastoAggiungi {
      position: fixed;
      width: 20vw;
      height: 50vh;
      top: 0vh;
      left: 80vw;
}

div:hover {
  animation: mymoveSelection 1s;
}

@keyframes mymoveSelection {
  0%   {background-color: white;}
  100% {background-color: black;}
}

.orario, .antiorario {
    width: 10vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background-color: red;*/
}

#car {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: blue;
    animation: mymove_car 8s alternate infinite;
    animation-timing-function: linear;
}

.orario {
    animation: mymove 8s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
  0%   {transform: translate(-50%, -50%) rotate(0deg);}
  100% {transform: translate(-50%, -50%)  rotate(359deg);}
}

.antiorario {
    animation: mymove_a 8s infinite;
    animation-timing-function: linear;
}

@keyframes mymove_a {
  0%   {transform: translate(-50%, -50%) rotate(359deg);}
  100% {transform: translate(-50%, -50%)  rotate(0deg);}
}

@keyframes mymove_car {
  0%   {top: 0%;}
  100% {top: 80%;}
}
