html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.tastoTogli {
      position: fixed; 
      width: 20vw;
      height: 50vh;
}

.tastoAggiungi {
      position: fixed;
      top: 0vh;
      left: 80vw;
}

div:hover {
  animation: mymoveSelection 1s;
}

@keyframes mymoveSelection {
  0%   {background-color: white;}
  100% {background-color: black;}
}

.ruota {
    animation: mymove 8s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
  0%   {transform: translate(-50%, -50%) rotate(0deg);}
  100% {transform: translate(-50%, -50%)  rotate(359deg);}
}

.ruota_a {
    animation: mymove_a 8s infinite;
    animation-timing-function: linear;
}

@keyframes mymove_a {
  0%   {transform: translate(-50%, -50%) rotate(359deg);}
  100% {transform: translate(-50%, -50%)  rotate(0deg);}
}
